{% load bootstrap5 %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">  
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Polls</title>
    {% bootstrap_css %}

    {% bootstrap_javascript %}

    {% bootstrap_messages %}
    
</head>
<body>
    
    
    
    
    <div class="container">
        <nav class="navbar navbar-expand-sm bg-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="{% url 'polls:index' %}">Poll App</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <a href="{% url 'polls:index' %}" class="nav-link">Home</a>
                        <a href="{% url 'polls:about' %}" class="nav-link">About</a>

                    </ul>
            </div>
            <a href="{% url 'users:login' %}" class="nav-link">Login</a>
        </nav>
                {% block content %}

                {% endblock content %}
        

    </div>
       
</body>
</html>